{{ template "base" .}}

{{define "title"}}Snippet #{{.Snippet.ID}} {{end}}

{{define "body"}}
    {{with .Snippet}}
        <div class="snippet">
            <div class="metadata">
                <strong>{{.Title}}</strong>
                <span>#{{.ID}}</span>
            </div>
            <div class="snippet-content">{{renderMarkdown .Content}}</div>
            <div class="metadata">
                {{if .Tags}}
                    <div>
                        Tags:
                        {{range .Tags}}
                            <a href="/tags/{{.Name}}">{{.Name}}</a>
                        {{end}}
                    </div>
                {{end}}
                <time>Created : {{humanDate .Created}}</time>
                <time>Expires : {{humanDate .Expires}}</time>
            </div>
        </div>
    {{end}}
{{end}}
