{{ template "base" .}}

{{define "title"}}Snippets tagged "{{.Tag.Name}}"{{end}}

{{define "body"}}
    <h2>Snippets tagged "{{.Tag.Name}}"</h2>

    {{if .Snippets}}
        <table>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Created</th>
                <th>Tags</th>
            </tr>
            {{range .Snippets}}
            <tr>
                <td><a href="/snippets/{{.ID}}">#{{.ID}}</a></td>
                <td><a href="/snippets/{{.ID}}">{{.Title}}</a></td>
                <td>{{humanDate .Created}}</td>
                <td>
                    {{range .Tags}}
                        <a href="/tags/{{.Name}}">{{.Name}}</a>
                    {{end}}
                </td>
            </tr>
            {{end}}
        </table>
    {{else}}
        <p>No snippets found with this tag.</p>
    {{end}}
{{end}}
