{{ template "base" .}}

{{define "title"}}{{.User.Name}}'s Profile{{end}}

{{define "body"}}
    <div class="account-profile-summary">
        <h2>{{.User.Name}}</h2>
        <p>Email: {{.User.Email}}</p>
        <p>Member since: {{humanDate .User.Created}}</p>
    </div>

    <h3>Recent Snippets</h3>

    {{if .Snippets}}
        <table class="account-snippet-summary">
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Created</th>
                <th>Expires</th>
                <th>Tags</th>
            </tr>
            {{range .Snippets}}
            <tr>
                <td><a href="/snippets/{{.ID}}">#{{.ID}}</a></td>
                <td><a href="/snippets/{{.ID}}">{{.Title}}</a></td>
                <td>{{relativeTime .Created}}</td>
                <td>{{relativeTime .Expires}}</td>
                <td>
                    {{range .Tags}}
                        <a href="/tags/{{.Name}}">{{.Name}}</a>
                    {{end}}
                </td>
            </tr>
            {{end}}
        </table>
    {{else}}
        
        <div class="no-snippets">
            <p>No snippets yet.</p>
            <button class="btn btn-primary"><a href="/snippets/create">Create a new snippet</a></button>
        </div>

    {{end}}
{{end}}
